body{
    margin: 0; 
    font-family: 'Oswald', sans-serif;
}
p{
    color: dimgray;
}
h1{
    font-size: 50px;
    font-weight: 900;
}

.About{
    width:10%;
    height: 100px;
    float:right;
}
.Work{
    width:9.8%;
    height: 100px;
    float:right;
}
.Portfolio{
    width:9.5%;
    height: 100px;
    float:right;
}
.Contact{
    width:8%;
    height: 100px;
    float:right;
}
.divided{
    height:500px;
    padding-bottom: 100px;
    
}
#top-right{
    padding-bottom: 120px;
}
#chapano{
    line-height: 10px;
   padding-top: 50px;
}
#uthano{
   position: relative;
   bottom: 50px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.one-third-width{
    width: 25%;;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}
.half-width img{
    width: 100%;
}
.one-third-width img{
    width: 100%
}
#image-in-middle{
    position: relative;
    right: 80px;
    top: 40px;  
}
#bam{
    position: relative;
    left: 120px;
}
#dan{
    position: relative;
    right: 120px;
}
#third-part{
    height: 400px;
    background-image: url("images/backgroundimage3.jpg");
   background-repeat: no-repeat;
}

.Orange-highlight{
    color: orange;
    line-height: 20px; 
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(90deg, lightsalmon,tomato);
    padding: 10px 20px;
    box-shadow: 4px 4px 5px lightsalmon;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 40px;
}
